*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height : 60rem;
    background-color: #333;
}

#navbar {
    /* overflow: hidden; */
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
}
#navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7rem;
}

#navbar a:hover {
    background-color: #fff;
    color: black;
}

#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.wrapper{
    max-width: 140rem;
    margin: 0 auto;
}
.about{
    height : 60rem;
    background-color:aquamarine;
}
.portfolio{
    height : 60rem;
    background-color:rgb(127, 255, 138);
}
.cv{
    height : 60rem;
    background-color:rgb(242, 255, 127);
}
.contact{
    height : 60rem;
    background-color:rgb(127, 172, 255);
}