@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
/* RESET */

*,*::before, *::after{
    box-sizing: border-box;
}
  *{
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins','Montserrat', sans-serif;
    color: #213442;
}
img,picture,video,canvas,svg {
    display: block;
    max-width: 100%;
}
input,button, textarea, select{
    font: inherit;
}
p, h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
} 
h1 {
    font-size: 4rem;
    font-weight : 200;
    padding-top: 6rem;
    margin-bottom: 2rem;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.50);
}
h2{
    font-size: 1.4rem;
    font-weight: 300;
    color: antiquewhite;
    font-style: italic;
    margin-bottom: 2rem;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.50);
}
h3{
    font-size: 1.8rem;
    margin: 2rem 0;
    display: inline-block;
    font-weight: 600;
}
i{
    margin-right: 1rem;
    font-size: 2rem;
}
i:hover {
    color: antiquewhite;
}
header i {
    color: rgba(250, 235, 215, 0.432);
}
a{
    text-decoration: none;
    color: inherit;
}

/* ---- UTILITIES ----  */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.wrapper{
    max-width: 140rem;
    margin: 0 auto;
}

section{
    padding: 4rem 4rem 0 4rem;
    font-size: 1.4rem
}

#top a{
    position: fixed;
    bottom: 100px;
    right: 0px;
}

.item{
    width: 0.4rem;
    background-color: rgb(90, 149, 197);
    height: 1.6rem;
    display: inline-block;
}

/* --- HEADER ----  */

header{
    padding : 8rem 4rem;
    /* background-color: #333; */
    background: linear-gradient(#5f5252, #333);
    color: #f2f2f2;
    text-align: center;
}

/* .parallax {
    background-image: url("https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=644&q=80");
    background-color: aliceblue;
    height: 400px; 
    width: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* --- NAVBAR ----  */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar {
    overflow: hidden;
    color: #f2f2f2;
    background-color: #333;
    padding : 0 4rem;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.4);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hidden{
    opacity : 0; 
    transition:opacity 1s;
}
#title {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: antiquewhite;
    transition:opacity 1s; 
    text-shadow: -2px 2px 2px rgba(0,0,0,0.50);
}

/* DEBUT EFFECT HOVER TITRE */

.hoverEffect {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.hoverEffect::before,
.hoverEffect::after {
content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
/* .hoverEffect::before {
    background-color: #f2f2f2;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
} */
.hoverEffect::after {
    content: attr(data-replace);
    /* height: 100%; */
    /* top: 0; */
    font-size: 2.2rem;
    font-weight: 200;
    font-style: italic;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #f2f2f2;
}
.hoverEffect:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
.hoverEffect:hover::after {
    transform: translate3d(0, 0, 0);
}
.hoverEffect span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.hoverEffect:hover span {
    transform: translate3d(-200%, 0, 0);
}

/* fin EFFECT HOVER TITRE */

.menu a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.6s;
}
.menu a:hover {
    background-color: antiquewhite;
    color: #111;
}



/* --- ABOUT ----  */

.about{
    margin-top : 5rem;
}

.about .item{
    background-color: rgb(90, 149, 197);
 }

/* --- PORTFOLIO ----  */

.portfolio .item{
    background-color: rgb(197, 90, 131);
}

/* --- CV ----  */

.cv .item{
    background-color: rgb(151, 197, 90);
}

/* --- CONTACT ----  */

.contact .item{
    background-color: rgb(218, 157, 66);
}
form input , textarea , button{
    display: block;
    width : 35rem;
    margin: 1rem auto;
    border:1px solid #ddd;
    font-size: 1.4rem;
    padding: 0.8rem 0.8rem;
    color : #999;
    border-radius: 3px;
    outline :none;
}
form input:focus , textarea:focus{
    border:1px solid rgb(218, 157, 66);
}
button{
    background-color: #333;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(218, 157, 66);
    color : #333;
    transition: 0.4s;
}


/* --- FOOTER ----  */


footer{
    padding : 2rem 4rem;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
}


/* ------------------ MEDIA QUERIES ------------------ */

@media screen and (max-width: 376px) {
    
    section{
        padding: 2rem 2rem 0 2rem;
        font-size: 1.4rem
    }
    header{
        padding : 2rem 2rem 0 2rem;
        text-align: center;
    }
    h1 {
        font-size: 2.2rem;
        font-weight : 400;
        padding-top: 0;
        margin-bottom: 1.2rem;
    }
    h2 {
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 1.2rem;
    }
    i{
        margin-right: 0;
    }
    header a i{
        margin-right: 1rem;
        font-size: 1.3rem;
    }
    .flex {
        flex-direction: column;
        align-items: center;
        gap : 2rem;
    }
    
    #title {
        font-size: 1.5rem;
        font-weight: 200;
    }
    nav{
        flex-direction: column;
        justify-content: center;
    }
    #navbar {
        padding : 0 2rem;
    }
    #navbar a {
        overflow: hidden;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: 300;
        transition: 0.6s;
    }
    form input , textarea , button{
        width : 28rem;
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
    }
    footer{
        font-size: 1.2rem;
        font-weight : 300;
    }
}