*,*::before, *::after{
    box-sizing: border-box;
}
*{
    margin : 0;
    padding : 0;
}
html{
    scroll-behavior: smooth;

}
body{
    height: 100vh;
    background-color: rgb(0, 29, 54);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1,h2,h3,h4,h5,a,p{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin-right: 3px;
    padding-left: 0px;
    padding-right: 10px;
}

a:hover {
    padding-left: 5px;
    padding-right: 5px;
}

p{
    margin: 10px 0;
}

#cv{
    width: 50%;
}








/* CURSEUR */

.cursor::after{
    margin-left : 3px;
    content: "";
    width : 8px;
    height : 2px;
    background: #ffffff;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}